html, body{
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}
#map {
    width: 100%;
    height: 100vh;
}
#markerUsername {
    display:flex;
    justify-content: center;
    font-size: 16px;
}
.main {
    display: flex;
}
.sidebar {
    width:300px;
    background-color: rgba(10, 4, 4,0.8);
}
.sidebar .logo img {
    width: 300px;
}
.sidebar .title h1 {
    margin:0;
    text-align: center;
    color:rgb(207 92 38);
}
.sidebar .list {
    color:#56e8db;
    font-size: 18px;
    margin:18px;
    padding:0;
    list-style: none;
}
.sidebar .list li {
    display:flex;
    flex-flow:row;
    cursor: pointer;
    border:1px solid rgba(10, 4, 4,0);
    transition: all ease .3s;
    padding: 5px;
}
.sidebar .list li:hover {
    border:1px solid #1ebbab;
}
.sidebar .list .avatar {
    padding-right: 18px;
    display: flex;
    align-items: center;
}
.sidebar .list .avatar img {
    width: 32px;
    height: 32px;
}

.sidebar .list .username {
    width: 100%;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.sidebar .list .position {
        text-align: right;
}

